@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 10, 52, 154;
  --background-end-rgb: 0, 23, 89;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 52, 154;
    --background-end-rgb: 0, 23, 89;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.card img {
  max-height: 416px;
  max-width: 370px;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
}

.glass {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.11);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.2px);
  -webkit-backdrop-filter: blur(0.2px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  display: flex;
  position: absolute;
  top: 49.5%;
  left: 50%;
  width: 97%;
  height: 99%;
  border-radius: 24px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.trans {
  /* From https://css.glass */
  background: rgb(255, 255, 255, 0.7);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.14);
  color: #444;
  display: flex;
  position: absolute;
  bottom: 4%;
  left: 50%;
  width: 90%;
  height: 64px;
  border-radius: 8px;
  transform: translate(-50%, 0);
}

.attribute {
  flex-grow: 1;
}
